### CSE-221710315009-Ch.Saipranathi

#### Import the required packagesÂ¶
please mention in comment for which purpose you are using the package

In [5]:
import pandas as pd

import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/sushma-projects/ML-Projects/master/Telecom_Churn.csv")
df.describe(include=object)

       state phone_number intl_plan voice_mail_plan
count   5000         5000      5000            5000
unique    51         5000         2               2
top       WV     373-1223        no              no
freq     158            1      4527            3677